/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- MIS ESTILOS ---- */

:root{
    --black : #1B1A17;
    --white: #E8F6EF;
    --yellow: #FFE194;
    --blue : #4C4C6D;
    --lightblue: #B8DFD8; 
}

body{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    font-family: 'Encode Sans SC', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* FORMULARIO */

#formulario #city{
    border: none;
    outline: none;
    margin: 20px 0px;
    padding: 10px 20px;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 1.0em;
    font-weight: 500;
    border-radius: 3px;
    color: var(--black);
    background-color: var(--yellow);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.452);
}

#formulario #buscar{
    border: none;
    padding: 10px 20px;
    margin: 20px 0px;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 1.0em;
    font-weight: 500;
    border-radius: 3px;
    transition: all 0.2s;
    color: var(--black);
    background-color: var(--yellow);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.452);
}

#formulario #buscar:hover{
    cursor: pointer;
    background-color: var(--lightblue);
}

/* PRONOSTICO */

.pronostico{
    width: 100%;
    text-align: center;
    border: 1px solid var(--white);
    border-radius: 3px;
    padding: 20px;
}

.pronostico #pronostico-title{
    font-size: 2em;
    font-weight: 600;
    color: var(--black);
}

.resultado{
    display: grid;
    grid-template-columns: 40% 25% 25%;
    gap: 2%;
    padding: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.resultado .dia{
    border: 1px solid #E8F6EF;
    border-radius: 3px;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.267);
}

.resultado .dia h2{
    font-size: 1.5em;
    margin: 5px 0px;
}

.resultado .dia img{
    width: 100%;
    max-width: 100px;
}

.resultado .dia .section-grados{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.resultado .dia .section-grados .grados,.resultado .dia .section-grados .tipo{
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}

.space{
    margin: 0px 5px;
}

#aviso{
    font-size: 1.1em;
    font-weight: 300;
}

.error{
    text-align: center;
    transition: all 0.2s;
    border-radius: 3px;
    background-color: brown;
    color: var(--white);
    width: 100%;
    padding: 20px;
}

/* MEDIA QUERYS */

@media screen and (max-width: 1100px){
    .container{
        width: 768px;
    }
}

@media screen and (max-width: 860px){
    .container{
        width: 640px;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 80%;
        height: auto;
    }
    .resultado{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2%;
        padding: 20px;
        justify-content: center;
    }
}